{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>.center-vertical-container{height:calc(100% - 3rem)}</style>
{% endblock %}
{% block body %}
<div class="viewport-height">
	<div class="center-vertical-container">
		<div class="table-center">
			<h1 class="typewriter title">mat does dev</h1>
			<div class="content">
				<p>Welcome to matdoesdev. I am mat and I occasionally do dev sometimes as you can tell by that very large title above. My hobbies include coding, hacking, writing software, software development, computing, and other synonyms for programming. Also I watch probably more YouTube than I should. I use this website to share my projects, tutorials, and opinions.</p>
				<div class="menu-buttons">
					<a href="/blog" class="menu-button"><button id="menu-button-1">Blog</button></a>
					<a href="/projects" class="menu-button"><button id="menu-button-2">Projects</button></a>
				</div>
			</div>
		</div>
	</div>
	{% block footer %}
	{{ super() }}
	{% endblock %}
</div>
{% endblock %}